.list-form {
  background-color: #e67920;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100vw / 3);
  height: calc(100vh * 2 / 3);
  border: #52243e 2px solid;
  box-shadow: 7px 7px #52243e;
  animation: pop-up 0.4s ease-in-out;
  position: absolute;
  top: 7em;
}
.list-form label {
  width: 200px;
  margin-left: calc(100vw / (-3) + 240px);
}

.list-form input {
  background-color: #b33131;
  width: calc(100vw / 3 - 40px);
  outline: none;
  border: 2px solid transparent;
  transition: border 0.3s ease;
  color: #fff;
}
.list-form input:focus {
  border-bottom: solid 2px #52243e;
}

@keyframes pop-up {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}
