.main {
  background-color: #f8e3c4;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.mainContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: transform 0.4s ease-in-out;
  margin: 10px;
  height: 6em;
}
.icon {
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
  border: 2px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.active {
  transform: translateY(calc(-100vh / 2 + 4em));
}
.icon-active {
  transform: rotate(360deg);
  border: 2px solid #52243e;
  border-radius: 20px;
}
.icon:hover {
  border: 2px solid #52243e;
  border-radius: 20px;
}
