.main {
  background-color: #f8e3c4;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.mainContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: transform 0.6s ease-in-out;
  margin: 10px;
}
.icon {
  cursor: pointer;
  transition: all 0.8s ease-in-out;
}
.active {
  transform: translateY(-290px);
}
.icon-active {
  transform: rotate(360deg);
}
